In [16]:
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split

In [6]:
BASE_PATH = Path("../data/")

TEST_DATA_PATH = BASE_PATH / "test_data.csv"
TRAIN_DATA_PATH = BASE_PATH / "train_data.csv"
UNLABELLED_DATA_PATH = BASE_PATH / "unlabelled_data.csv"

NEW_PATH = BASE_PATH / 'sequential'
NEW_TEST_DATA_PATH = NEW_PATH / "test_data.csv"
NEW_VAL_DATA_PATH = NEW_PATH / "val_data.csv"
NEW_TRAIN_DATA_PATH = NEW_PATH / "train_data.csv"
NEW_UNLABELLED_DATA_PATH = NEW_PATH / "unlabelled_data.csv"

In [11]:
test_df = pd.read_csv(TEST_DATA_PATH)
train_df = pd.read_csv(TRAIN_DATA_PATH)
unlabelled_df = pd.read_csv(UNLABELLED_DATA_PATH)

In [13]:
test_df['auto_id'] = range(1, len(test_df) + 1)
print(len(test_df))
test_df.head()

117

,ESR1,PGR,ERBB2,MKI67,PLAU,ELAVL1,EGFR,BTRC,FBXO6,SHMT2,...,Chemotherapy,Hormone Therapy,Neoplasm Histologic Grade,Cellularity,Surgery-breast conserving,Surgery-mastectomy,Label,DssTime,Event,auto_id
0,11.239750,5.954311,9.739996,6.046045,10.040187,5.905724,5.881255,6.538235,7.260572,10.774752,...,0,1,3,0.5,0,1,1,7.800000,1,1
1,10.927313,7.002502,10.033753,5.568993,8.306619,6.547491,5.733367,6.128118,7.917904,9.514045,...,0,1,2,0.5,0,1,0,132.033333,1,2
2,6.312633,5.305683,9.068778,5.919384,8.210977,5.896152,5.634379,5.625037,7.684047,11.422518,...,1,0,3,1.0,0,1,1,28.500000,1,3
3,9.185200,5.480888,9.580607,5.655789,7.756504,6.026981,6.008594,6.269051,7.428641,9.478211,...,0,1,3,1.0,0,1,1,39.166667,1,4
4,7.249462,5.164281,10.233184,5.721403,8.918334,6.392132,5.588450,6.062906,7.968933,9.578638,...,1,0,2,1.0,0,1,1,31.300000,1,5

In [14]:
train_df['auto_id'] = range(1000, 1000 + len(train_df))
print(len(train_df))
train_df.head()

465

,ESR1,PGR,ERBB2,MKI67,PLAU,ELAVL1,EGFR,BTRC,FBXO6,SHMT2,...,Chemotherapy,Hormone Therapy,Neoplasm Histologic Grade,Cellularity,Surgery-breast conserving,Surgery-mastectomy,Label,DssTime,Event,auto_id
0,10.041281,7.376123,9.725825,5.427919,9.300307,6.219375,6.125355,5.888779,7.893369,9.007343,...,1,1,2,1.0,0,1,0,163.100000,1,1000
1,11.276581,7.331223,9.956267,5.629876,8.119906,5.665620,5.775809,6.251167,8.242063,10.871432,...,1,1,3,1.0,0,1,1,41.366667,1,1001
2,7.536847,5.587666,11.514514,5.722951,6.741081,6.321480,5.466188,6.956486,7.673015,9.837096,...,0,0,2,1.0,0,1,1,36.266667,1,1002
3,10.395644,6.531288,9.075396,5.440774,7.861422,5.973844,5.757120,6.026611,7.666777,9.455256,...,0,1,2,0.5,1,0,0,86.066667,1,1003
4,6.204958,5.172111,8.881671,5.861609,8.530361,6.671294,11.724683,6.046692,7.401715,10.481299,...,1,0,3,0.0,0,1,1,8.066667,1,1004

In [15]:
unlabelled_df['auto_id'] = range(2000, 2000 + len(unlabelled_df))
print(len(unlabelled_df))
unlabelled_df.head()

1168

,ESR1,PGR,ERBB2,MKI67,PLAU,ELAVL1,EGFR,BTRC,FBXO6,SHMT2,...,Menopausal State,Size,Radio Therapy,Chemotherapy,Hormone Therapy,Neoplasm Histologic Grade,Cellularity,Surgery-breast conserving,Surgery-mastectomy,auto_id
0,10.047059,7.505424,9.729606,5.451007,8.474830,6.412419,5.899440,7.069394,7.100058,9.102318,...,0,10.0,1,0,1,3.0,1.0,1.0,0.0,2000
1,10.404685,6.815637,10.334979,5.488309,9.994894,6.525927,5.585357,6.071653,7.810600,9.431167,...,0,25.0,1,1,1,2.0,0.5,0.0,1.0,2001
2,10.793832,7.720952,9.276507,5.478224,8.184773,5.949741,5.743395,7.244882,7.781876,8.716918,...,1,10.0,1,1,1,2.0,0.5,1.0,0.0,2002
3,10.440667,5.592522,8.613192,5.436625,8.210389,6.203913,5.852012,6.219653,7.560101,9.600030,...,1,29.0,1,0,1,2.0,0.5,1.0,0.0,2003
4,12.521038,5.325554,10.678267,5.623786,7.786509,6.153012,5.502281,7.278257,7.674681,10.367760,...,1,16.0,1,0,1,3.0,0.5,1.0,0.0,2004

In [ ]:
#full_X_train = train_df.drop(columns=['Label'])
#full_y_train = train_df['Label']

Proportion: 80% / 20%

In [20]:
# Split the train_data into training and validation sets
new_train_df, val_df = train_test_split(
    train_df,
    test_size=0.2,
    random_state=42,
    stratify=train_df['Label'])

print(f'Training data shape: {new_train_df.shape}')
print(f'Validation data shape: {val_df.shape}')

Training data shape: (372, 34)
Validation data shape: (93, 34)

In [21]:
new_train_df.head()

,ESR1,PGR,ERBB2,MKI67,PLAU,ELAVL1,EGFR,BTRC,FBXO6,SHMT2,...,Chemotherapy,Hormone Therapy,Neoplasm Histologic Grade,Cellularity,Surgery-breast conserving,Surgery-mastectomy,Label,DssTime,Event,auto_id
271,11.445577,5.383985,10.523773,5.878819,7.376048,6.224054,5.730411,6.937679,7.314421,9.496653,...,0,0,1,0.5,1,0,1,52.733333,1,1271
50,11.728241,6.853981,9.093163,6.189151,9.775104,5.891141,5.644219,6.445037,7.500848,10.140590,...,0,1,3,1.0,0,1,0,61.100000,1,1050
300,11.122611,5.322075,11.719898,6.121027,8.733519,6.321382,6.011898,6.702699,7.682648,9.736608,...,0,0,2,1.0,0,1,0,94.033333,1,1300
156,11.246158,7.200805,10.488210,5.921079,9.480574,5.598995,5.923112,6.411695,7.998787,10.009468,...,0,1,3,0.5,1,0,0,118.133333,1,1156
458,9.744005,5.481691,11.031849,5.826471,8.732274,5.873227,5.495358,6.243658,7.719020,9.327830,...,0,1,2,1.0,1,0,1,27.066667,1,1458

In [22]:
val_df.head()

,ESR1,PGR,ERBB2,MKI67,PLAU,ELAVL1,EGFR,BTRC,FBXO6,SHMT2,...,Chemotherapy,Hormone Therapy,Neoplasm Histologic Grade,Cellularity,Surgery-breast conserving,Surgery-mastectomy,Label,DssTime,Event,auto_id
112,6.407398,5.332991,11.028405,5.570715,7.884060,6.170632,6.524852,6.087229,7.607153,9.709837,...,0,1,2,0.5,0,1,0,203.533333,1,1112
91,5.359227,5.233657,11.295086,5.467575,7.806072,7.934447,6.342535,6.249445,6.337625,9.996191,...,0,0,2,0.5,1,0,1,23.333333,1,1091
215,5.874314,5.226781,10.052359,6.345439,8.733782,7.140753,7.271026,6.408314,7.436915,11.848892,...,1,0,3,1.0,0,1,1,35.233333,1,1215
438,11.050258,5.361671,9.424651,6.489388,8.299958,6.422778,5.706520,6.598701,7.400819,10.873850,...,1,1,2,1.0,1,0,0,143.600000,1,1438
455,11.424278,5.372667,10.864729,6.410957,6.787171,6.926255,5.685226,7.046461,6.946620,9.987552,...,1,1,2,0.5,1,0,1,28.866667,1,1455

In [24]:
test_df.to_csv(NEW_TEST_DATA_PATH, index=False)
new_train_df.to_csv(NEW_TRAIN_DATA_PATH, index=False)
val_df.to_csv(NEW_VAL_DATA_PATH, index=False)
unlabelled_df.to_csv(NEW_UNLABELLED_DATA_PATH, index=False)